<ul class="nav nav-tabs">
	<li class="active"><a href="/index">You are on the /index page</a></li>
	<li><a href="/protected/index">Call the /protected/index page</a></li>
	<!-- #### change with your own CAS in the cloud server and your host name #### -->
	<li><a href="https://freeuse1.casinthecloud.com/leleujgithub/logout?service=http://localhost:3000">Call the CAS logout</a></li>
</ul>
<h3>
	<p>User: <%= @username %></p>
	<p>Attributes:
		<% unless @extra_attributes.blank? %>
		  <%= debug(@extra_attributes) %>
		<% end %>
	</p>
</h3>
